.bold {
  background-color: rgb(255, 167, 167);
  font-family: Verdana, "DejaVu Sans", sans-serif;

}
  div {
    color: red;
    fontweight: 800;
  }

  #ing {
    color: #0000ff;
    font-size: 24px;
    font-weight: bold;
  }